.catalogo {
  margin-bottom: 30px;
  position: relative;
}

.catalogo h2 {
  margin: 0px 0px 0px 30px;
}

.catalogo--listarea {
  overflow-x: hidden;
  padding-left: 30px;
  position: relative;
}

.catalogo--list {
  display: flex;
  transition: all ease 0.5s;
}

.catalogo--item {
  display: inline-block;
  width: 150px;
  cursor: pointer;
  position: relative;
}

.catalogo--item a {
  text-decoration: none;
}

.catalogo--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.catalogo--item:hover img {
  transform: scale(1);
}

.details-text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.catalogo--item:hover .details-text {
  opacity: 1;
}



